body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.preview-area {
    flex: 1;
}

.preview-area img {
    max-width: 100%;
    max-height: 100%;
}

.controls-area {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.controls-area form {
    margin-bottom: 10px;
}

.controls-area button {
    margin-top: 10px;
    font-weight: bold;
    width: 200px;
    height: 30px;
    background-color: #007bff;
    /* ボタンの背景色 */
    color: #fff;
    /* ボタンの文字色 */
    border: none;
    /* 枠線をなくす */
    border-radius: 5px;
    /* 角丸にする */
    cursor: pointer;
    /* カーソルをポインターに変更 */
    transition: background-color 0.3s ease;
    /* ホバー時のトランジション */
}

.controls-area button:hover {
    background-color: #0056b3;
    /* ホバー時の背景色 */
}