<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">

    <title>Home</title>
</head>

<body>
    <header class="site-header">
        <div class="wrapper site-header__wrapper">
            <div class="app_name">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='White Black Minimalist Modern Capture Photo Studio Logo-4.png') }}" alt="" height="70">
                    <img src="{{ url_for('static', filename='White Black Minimalist Modern Capture Photo Studio Logo-6.png') }}" alt="" height="60">
                </a>
            </div>
            <nav class="nav">
                <ul class="nav__wrapper">
                    <li class="nav__item"><a href="{{ url_for('home') }}">トップへ</a></li>
                    <div class="nav_item_border">
                        <li class="nav__item"><a href="{{ url_for('processing') }}">画像の加工</a></li>
                    </div>
                    <li class="nav__item" ><a href="{{ url_for('view') }}">保存先</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <h1 class="bigtext">さあ、どのように写真を加工しましょう？</h1>

    <div class="start_buttonarea">
        <button class="start_button" onclick="moveProcessing()">はじめる</button>
    </div>

    <div class="sample_imgarea">
        <img class="sample_img" src="{{ url_for('static', filename='origin.png') }}" alt="" width="400" height="300">
        <div class="sample_textarea">
            <p class="sample_text" id="changetext">左の写真が右のように！？</p>
        </div>
        <img class="sample_img" src="{{ url_for('static', filename='vintage.png') }}" alt="" width="400" height="300">
    </div>

    <div class="explanation_area">
        <div class="explanation_text_area">
            <p class="explanation_text">これであなたも<br>インスタグラマーになれます</p>
            <p class="explanation_text2">フォトマジックでは、<br>あなたが最高に映える写真を手軽に作成できます。</p>
            <p class="explanation_text2">操作は簡単、<br>たったの5ステップ!</p>
        </div>
        <div class="blank" ><!-- 空白です --></div>
        <img class="explanation_img" src="{{ url_for('static', filename='White Black Minimalist Modern Capture Photo Studio Logo-2.png') }}" alt="" width="350" height="350">
    </div>

    <h1 class="bigtext">早速フォトマジックを使ってみよう！</h1>

    <div class="start_buttonarea">
        <button class="start_button" onclick="moveProcessing()">はじめる</button>
    </div>

    <div class="bottom_area"><!-- 下の余白です --></div>

    <script>
        
        // スタートボタンをクリックした時、加工ページへ移動
        function moveProcessing() {
            window.location.href = '/processing';
        }

        // 
        function changeText() {
            //画面サイズを取得
            var windowWidth = window.innerWidth;

            //画面サイズが指定した幅より小さい場合、テキストを変更
            if(windowWidth <= 999) {
                document.getElementById("changetext").innerHTML = "上の写真が下のように！？";
            }else {
                document.getElementById("changetext").innerHTML = "左の写真が右のように！？";
            }
        }

        // 画面のサイズが変更されたときにchangeText関数を呼び出す
        window.addEventListener("resize", changeText);

        // ページを読み込んだ最初にもchangeText関数を呼び出す
        document.addEventListener("DOMContentLoaded", changeText);

    </script>

</body>

</html>
