<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='view.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
</head>

<body>
    <header class="site-header">
        <div class="wrapper site-header__wrapper">
            <a href="/" class="app_name">画像フィルターアプリ（仮）</a>
            <nav class="nav">

                <ul class="nav__wrapper">
                    <li class="nav__item"><a href="{{ url_for('home') }}">トップへ</a></li>
                    <li class="nav__item"><a href="{{ url_for('processing') }}">画像の加工</a></li>
                    <li class="nav__item"><a href="{{ url_for('view') }}">保存先</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Header Start 
    <header class="site-header">
        <div class="wrapper site-header__wrapper">
            <a class="title">Processed Image</a>
            <nav class="nav">
                <ul class="nav__wrapper">
                    <li class="nav__item"><a href="{{ url_for('home') }}">Home</a></li>
                    <li class="nav__item"><a href="{{ url_for('processing') }}">Processing</a></li>
                </ul>
            </nav>
        </div>
    </header>
    Header End -->

    {% for image_path in image_paths %}
    {% set clean_path = image_path.split('/').pop() %}
    <div class="image-container">
        <a href="#" class="image-link" data-image="{{ url_for('static', filename=image_path) }}">
            <img src="{{ url_for('static', filename=image_path) }}" alt="Processed Image" width="150" height="138">
        </a>
        <div class="image-text" title="{{ clean_path }}">{{ clean_path }}</div>
    </div>
    {% endfor %}

    <!-- モーダル -->
    <div id="imageModal" class="modal">
        <img id="modalImage" src="" alt="Large Image">
    </div>

    <script>
        // JavaScriptで画像をクリックしたときにモーダルを表示
        document.addEventListener('DOMContentLoaded', function () {
            const imageLinks = document.querySelectorAll('.image-link');
            const modal = document.getElementById('imageModal');
            const modalImage = document.getElementById('modalImage');

            imageLinks.forEach(function (link) {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    const imageUrl = this.getAttribute('data-image');
                    modalImage.src = imageUrl;
                    modal.style.display = 'flex';
                });
            });

            modal.addEventListener('click', function () {
                modal.style.display = 'none';
            });
        });
    </script>

</body>

</html>